.Orders {
    display: flex;
    font-family: "Montserrat", sans-serif;
    position: relative;
    top: 60px;
}

.OrderList {
    padding: 10px;
    width: 100%;
}

.Order {
    border: 2px solid royalblue;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;

    font-size: x-large;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    position: relative;
    left: 410px;
    width: calc(100% - 410px);
}

.Order:hover {
    border-color: #7d9cfd;
    cursor: pointer;
}

.Sidebar {
    width: 410px;
    height: calc(100vh - 50px - 10px);
    flex-shrink: 0;

    position: fixed;
    overflow-y: scroll;

    border-right: 2px solid #9ba8ab;
}

.SelectedOrder {
    padding: 10px;

    font-size: x-large;
}

.Title {
    color: royalblue;
    font-weight: 600;
}

.OrderItem {
    font-size: large;

    display: grid;
    grid-template-columns: 10% auto 10% 20%;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.Modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;
    background-color: #ffffff;

    font-size: xx-large;
    overflow-y: scroll;

    font-family: "Montserrat", sans-serif;
}

.ModalHeader {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

.ModalBody {
    padding: 10px;
}

.HeaderButton {
    width: 40px;
    height: 40px;
}

.HeaderButton:active {
    color: rgba(0, 0, 0, 0.4);
}

.Freeze {
    height: 100vh;
    overflow-y: hidden;
}

.Header {
    position: fixed;
    padding: 10px;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #9ba8ab;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1000px) {
    .Order {
        width: 100%;
        left: 0;
        grid-template-columns: 20% 40% 40%;
    }
}